:host ::ng-deep .ui-fieldset {
    border: 1px solid #c8c8c8;
    background-color: #efefef;
    color: #333333;
}
:host ::ng-deep legend{
    text-align:center;
    border-bottom: 2px solid #e5e5e5;
    background: whitesmoke;
     width:auto; margin-bottom: 0px;
     font-weight: bold; color: #1f497d;
}
:host ::ng-deep.ui-fieldset .ui-fieldset-legend-text {
    font-size: 25px;
    vertical-align: middle;
}