:host ::ng-deep .ui-panelmenu{
    background: #005b9f1c;
}

    

:host ::ng-deep.ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link:hover {
    background-color: #e2e51f59;
}
:host ::ng-deep .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link {
    padding: 0.714em 0.857em;
    color: #138263;}

    :host ::ng-deep.ui-panelmenu .ui-panelmenu-header:not(.ui-state-active) > a:hover {
        outline: 0 none;
        border: 1px solid #dbdbdb;
        background-color: #99699f61;
        color: #333333;
        background-image: linear-gradient(90deg,#ffffff52 ,#0000ff6b);}